1. Crear las busquedas/filtrados del idDocente y NombreDocente, junto con su boton filtrar y limpiar, Ademas de un
filtrador maestro<br>
2. Falta colocar los botones redonditos de actualizar y eliminar<br>

<!-- <app-debouncer-search-input (onDebounce)="valorFiltrar = $event" uppercase></app-debouncer-search-input> Este es el buscador General -->

<!-- <nz-card nzType="inner" nzTitle="Búsqueda de Panel de gestión de empresa" class="basic-content">
    <form nz-form [formGroup]="formFiltrosEmpresa" nzLayout="vertical">
        <div nz-row [nzGutter]="[24]" nzAlign="bottom">

            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="6" [nzSpan]="8">
                <nz-form-item>
                    <nz-form-label>RUC:</nz-form-label>
                    <nz-form-control>
                        <app-select-debouncer formControlName="idEmpresa" value="ruc" [fnDataSource]="fnDataSourceRuc"
                            [label]="['ruc']" loadingMessage="Buscando RUC" placeholder="Ingrese un RUC"
                            [minLetterCount]="2" searchMessage="Ingrese 2 números del RUC de empresa a buscar">
                        </app-select-debouncer>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="6" [nzSpan]="8">
                <nz-form-item>
                    <nz-form-label>Razón social:</nz-form-label>
                    <nz-form-control>
                        <app-select-debouncer formControlName="razonSocialEmpresa" value="razonSocialNombre"
                            [fnDataSource]="fnDataSourceEmpresa" [label]="['razonSocialNombre']"
                            loadingMessage="Buscando empresa" placeholder="Ingrese el nombre de la empresa"
                            [minLetterCount]="2" searchMessage="Ingrese 2 letras de empresa a buscar">
                        </app-select-debouncer>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzFlex="auto" class="search-area">
                <nz-form-item>
                    <div nz-row nzGutter="8" nzAlign="middle" [nzJustify]="'end'">
                        <div nz-col>
                            <button nz-button nzType="primary" (click)="filtrar()">Filtrar</button>
                        </div>
                        <div nz-col>
                            <button nz-button (click)="limpiarFiltrosBusqueda()">Limpiar</button>
                        </div>
                        <div nz-col>
                        </div>
                    </div>
                </nz-form-item>
            </div>
        </div>
    </form>
</nz-card> 

Este es el buscador para usarlo y guiarte para realizar Buscador por idDocente y nombre Docente y hay botones del filtrador y limpiar
-->
<nz-card nzType="inner" nzTitle="Búsqueda de Panel de Docente" class="basic-content">
    <form nz-form nzLayout="vertical">
        <div nz-row [nzGutter]="24" nzAlign="bottom">
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="6" [nzSpan]="8">
                <div>
                    <nz-form-label>ID Docente</nz-form-label>
                </div>
                <div>
                    <nz-form-control>
                        <input nz-input type="text" [(ngModel)]="filtroIdDocente" name="filtroIdDocente"
                            placeholder="Buscar por ID">
                    </nz-form-control>
                </div>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="6" [nzSpan]="8">
                <div>
                    <nz-form-label>Nombre Docente</nz-form-label>
                </div>
                <div>
                    <nz-form-control>
                        <input nz-input type="text" [(ngModel)]="filtroNombreDocente" name="filtroNombreDocente"
                            placeholder="Buscar por Nombre">
                    </nz-form-control>
                </div>
            </div>

            <div nz-col nzFlex="auto" class="search-area">
                <nz-form-item>
                    <div nz-row nzGutter="8" nzAlign="middle" [nzJustify]="'end'">
                        <div nz-col>
                            <button nz-button nzType="primary" (click)="filtrar()">Filtrar</button>
                        </div>
                        <div nz-col>
                            <button nz-button (click)="limpiar()">Limpiar</button>
                        </div>
                    </div>
                </nz-form-item>
            </div>

        </div>
    </form>
</nz-card>
    

<nz-card class="basic-content" style="margin-top: 10px; margin-left: 80px; margin-right: 80px;" nzBordered>
    <div nz-row>
        <div nz-col [nzSpan]="24" class="btn-wrappers"
            style="display: flex; justify-content: space-between; align-items: center;">
            <span style="font-size: 16px; font-weight: bold;">Directorio de Docentes</span>
            <button nz-button nzType="primary" (click)="tipoModal = 'registrarDocente'; abrirModal(tipoModal)">+Nuevo
                Docente</button>
        </div>
        <nz-modal [(nzVisible)]=" isVisibleModalCrearDocente" [(nzVisible)]="isVisibleModalActualizarDocente"
            [nzTitle]="tituloModal" (nzOnCancel)="handleCancel()">
            <ng-container *nzModalContent>
                <div>
                    <span>ID Docente</span>
                </div>
                <div>
                    <nz-input-number [(ngModel)]="idDocente" nzMin="1" placeholder="Ej: 01" style="width: 100%;"
                        [nzDisabled]="true"></nz-input-number>
                </div>
                <br>
                <div>
                    <span>Nombre completo</span>
                </div>
                <div>
                    <input nz-input placeholder="Ej: Robert Elias Espinoza" [(ngModel)]="nombreDocente"
                        (ngModelChange)="validarNombre()" />
                    @if (nombreError) {
                    <span nz-typography nzType="danger">✗ Nombre demasiado corto (Mínimo 8 caracteres)</span>
                    }
                </div>
            </ng-container>
            <ng-container *nzModalFooter>
                <div nz-flex nzJustify="space-between">
                    <button nz-button nzType="default" (click)="handleCancel()">Cerrar</button>
                    @if (tipoModal === 'registrarDocente') {
                    <button nz-button nzType="primary" [disabled]="isFormInvalid" [nzLoading]="isLoadingCrear"
                        (click)="crearDocente()">Crear Docente</button>
                    }
                    @if(tipoModal === 'actualizarDocente'){
                    <button nz-button nzType="primary" [disabled]="isFormInvalid" [nzLoading]="isLoadingActualizar"
                        (click)="actualizarDocente(idDocente, nombreDocente)">Actualizar</button>
                    }

                </div>
            </ng-container>
        </nz-modal>
    </div>
    <div nz-row nzJustify="space-between" [nzGutter]="[10,10]">
        <div nz-col>
            <app-debouncer-search-input (onDebounce)="filtrarTablaEnMemoria($event)" uppercase></app-debouncer-search-input>
        </div>
    </div>

    <nz-table #basicTable nzSize="middle" style="margin-top: 10px" [nzData]="lsDatosDocente" style="margin-top: 10px"
        [nzShowTotal]="rangeTemplate" [nzPageIndex]="1" [nzTotal]="lsDatosDocente.length" [nzPageSize]="10" nzBordered>
        <thead>
            <tr>
                <th nzAlign="center" scope="col" [nzSortFn]="sortById" nzWidth="100px"> Id Docente </th>
                <th nzAlign="center" scope="col"> Nombre </th>
                <th nzAlign="center" scope="col" nzWidth="300px"> Acciones </th>
            </tr>
        </thead>
        <tbody>
            @for (item of basicTable.data; track $index) {
            <tr>
                <td nz-typography nzAlign="center">{{item.idDocente}}</td>
                <td nz-typography nzAlign="center">{{item.nombreDocente}}</td>
                <td nz-typography nzAlign="center">
                    <div nz-flex nzJustify="center" nzGap="small">
                        <button nz-button nzType="primary" nzShape="circle"
                            (click)="tipoModal = 'actualizarDocente'; abrirModal(tipoModal, item.idDocente, item.nombreDocente)">
                            <nz-icon nzType="edit" nzTheme="outline" />
                        </button>
                        @if(verBotonEliminar==true){
                        <button nz-button nzType="primary" nzDanger nzShape="circle" nz-popconfirm
                            nzPopconfirmTitle="¿Estás seguro de que deseas eliminar?" nzPopconfirmPlacement="top"
                            (nzOnConfirm)="eliminarDocente(item)" [nzLoading]="item.isLoadingEliminar">
                                <nz-icon nzType="delete" nzTheme="outline" />
                                </button>
                        }
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </nz-table>
    <ng-template #rangeTemplate let-range="range" let-total>
        Mostrando del {{ range[0] }} al {{ range[1] }} de un total de {{ total }} registros
    </ng-template>
{{verBotonEliminar}}
</nz-card>
{{verBotonEliminar}}