<nz-table #colSpanTable [nzData]="listOfData" nzBordered>
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th colspan="3">Home phone</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        @for (data of colSpanTable.data; track data) {
        <tr>
            <td>{{ data.name }}</td>
            @switch ($index) {
            @case (2) {
            <td>{{ data.age }}</td>
            <td rowspan="3">{{ data.tel }}</td>
            <td>{{ data.phone }}</td>
            <td>{{ data.address }}</td>
            }
            @case (3) {
            <td>{{ data.age }}</td>
            <td>{{ data.phone }}</td>
            <td>{{ data.address }}</td>
            }
            @case (4) {
            <td colspan="3">{{ data.age }}</td>
            }
            @default {
            <td>{{ data.age }}</td>
            <td>{{ data.tel }}</td>
            <td>{{ data.phone }}</td>
            <td>{{ data.address }}</td>
            }
            }
        </tr>
        }
    </tbody>
</nz-table>
<nz-modal [(nzVisible)]="isVisibleModalCrearDocente" nzTitle="Docente" (nzOnCancel)="handleCancel()" [nzWidth]="1000">
    <p *nzModalContent>
        <app-directorio-docente [verBotonEliminar]="false"></app-directorio-docente>
    </p>
</nz-modal>


<button nz-button (click)="showModal()">Boton crear Docente</button>